*{
    font-family: "Overpass", sans-serif;
}
header{
    background-color: #D79988 ;
    
}
header span{
    color: white;
}
body{
    background-color: #F5E6E1;
}
.nav-item a{
    color: white;
}
.nav-item a:hover {
    background-color: #E1B3A6;
}
/* color de palabra al visitar un link  */
.nav-item a:visited{
    color: white;
}
.nav-item a:link{
    color: white;
}
#nav-button{
    background-color: #E1B3A6;
}
.icon-square .bi{
    /* background-color:#e7c3b9;*/
    color: #DD5A44;
    /* width: 30px;*/
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.27em;
    
}
.card-body{
    background-color: #F5E6E1;
}
.card{
    background-color: #F5E6E1;
}
#subtitulo-proyectos{
    text-align: start;
}

#proyectos{
    justify-content: center;
    text-align: center;
}
.bi-envelope{
    color:#D79988;
    /* width: 30px;*/
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 6.5em;
}
footer{
    background-color: #e7c6c0;
    

}
footer .icon-footer i{
    color:#DD5A44;
    font-size: 27px;
}
footer p{
    color: #af6457;
}
footer p a{
    color: #af6457;
}
#app{
    color: #af6457;
}