*{
    font-family: "Overpass", sans-serif;
}
header{
    background-color: #D79988 ;
    
}
header span{
    color: white;
}
body{
    background-color: #F5E6E1;
}
.nav-item a{
    color: white;
}
.nav-item a:hover {
    background-color: #E1B3A6;
}
/* color de palabra al visitar un link  */
.nav-item a:visited{
    color: white;
}
.nav-item a:link{
    color: white;
}
#nav-button{
    background-color: #E1B3A6;
}
.icon-square .bi{
    /* background-color:#e7c3b9;*/
    color: #DD5A44;
    /* width: 30px;*/
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.27em;
    
}
.img-proyecto1{
    background-image: url(/assets/clon-pinterest.png);
    background-size:contain;
    background-repeat: no-repeat;
    
}

#proyecto1{
    color:#DD5A44;
    opacity: none;
}
.card-body{
    background-color: #F5E6E1;
}
.card{
    background-color: #F5E6E1;
}
#subtitulo-proyectos{
    text-align: start;
}

#proyectos{
    justify-content: center;
    text-align: center;
}